name: CI Pipeline

on:
  push:
    branches:
      - main
      - master

jobs:
  ci-job:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"

      - name: install dependencies
        run: pip install -r requirements.txt

      - name: run tests
        run: pytest || echo "No tests yet"

      # later you can change this step to:
      # - name: run pipeline
      #   run: dvc repro